/* Style sheet */

andrewtext {
  font-size: 500px;
  color: green;
}

header {
  background-color: lightblue;
  margin: 0;
}

.topblack {
  background-color: black;
  margin: 0px;
  padding: 0px;
  color: orange;
}

h1 {
  color: white;
}

body {
  background-color: beige;
}
